/*  Шрифты */

@font-face {
	font-family: 'TahomaRegular';
	src: url('fonts/Tahoma_regular.eot');
	src: local('☺'), url('fonts/Tahoma_regular.woff') format('woff'), url('fonts/Tahoma_regular.ttf') format('truetype'),
		url('fonts/Tahoma_regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TahomaSemibold';
	src: url('fonts/Tahoma_semibold.eot');
	src: local('☺'), url('fonts/Tahoma_semibold.woff') format('woff'),
		url('fonts/Tahoma_semibold.ttf') format('truetype'), url('fonts/Tahoma_semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

/* Переменные */

:root {
	--color-orange: rgb(222, 168, 72);
	--color-black: rgb(6, 8, 10);
	--color-grey: rgb(54, 54, 54);
	--color-cobalt: rgb(33, 40, 67);
	--color-white: rgb(255, 255, 255);
	--color-blue: rgb(6, 65, 107);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'TahomaSemibold';
	font-size: 30px;
}

main {
	max-width: 1200px;
	width: 100%;
	background-color: white;
	margin: 0 auto;
}

/* Кнопки навигации по сайту */

.section-nav {
	display: flex;
	justify-content: space-around;
}

.item-section-nav {
	margin-top: 25px;
	max-width: 300px;
	width: 100%;
	font-size: 12px;
	color: var(--color-blue);
	padding: 15px 25px 15px 25px;
	text-align: center;
	border: 1px solid var(--color-blue);
	text-transform: uppercase;
}

.item-section-nav:nth-child(2) {
	border: 1px solid var(--color-orange);
	color: var(--color-orange);
	padding-right: 18px;
	padding-left: 18px;
}

.item-section-nav:nth-child(3) {
	border: 1px solid rgb(91, 173, 132);
	color: rgb(91, 173, 132);
	padding-right: 20px;
	padding-left: 20px;
}

/* Заголовок сайта */

.header-cite {
	color: var(--color-grey);
	margin: 30px auto 0;
	max-width: 770px;
	width: 100%;
}

.header-cite h1 {
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 24px;
}

.header-cite p {
	text-align: center;
	font-family: 'TahomaRegular';
	font-size: 24px;
}

.header-cite p span {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 24px;
	text-transform: uppercase;
}

.header-description {
	display: block;
	margin: 0 auto;
	max-width: 550px;
	width: 100%;
	margin-bottom: 30px;
}

/* Программа 1 */

.programm-one {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}

.programm-one-header {
	display: flex;
	justify-content: space-between;
}

.programm-one-description {
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.programm-one-description-head {
	max-width: 370px;
}

.programm-one-description-head p {
	font-size: 24px;
	color: var(--color-grey);
	text-transform: uppercase;
}

.programm-one-description-head h2 {
	text-transform: uppercase;
	color: var(--color-black);
	margin-top: 15px;
}

.programm-one-description-head h2 span {
	text-transform: none;
	color: var(--color-blue);
	display: block;
	margin-top: 5px;
}

.programm-one-description-info {
	max-width: 550px;
}

.programm-one-description-info p {
	font-family: 'TahomaRegular';
	font-size: 18px;
	margin-top: 25px;
	color: var(--color-black);
}

/* Схема работы */

.work-programm-one h3 {
	max-width: 895px;
	text-align: center;
	margin-top: 25px;
	color: var(--color-blue);
}

.work-programm-one-sheme {
	display: block;
	max-width: 390px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
	color: var(--color-grey);
	text-transform: uppercase;
}

.programm-one-schema-work {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.programm-one-shema-items {
	max-width: 345px;
	height: 175px;
	border: 1px solid var(--color-blue);
	border-radius: 10px;
	margin-bottom: 45px;
	position: relative;
}

.programm-one-shema-items p {
	font-size: 17px;
	max-width: 300px;
	text-align: left;
	display: block;
	text-transform: none;
	color: var(--color-black);
}

.programm-one-shema-items p:nth-child(even) {
	max-width: 300px;
	font-family: 'TahomaRegular';
	margin-left: 52px;
	margin-right: 20px;
	margin-top: 30px;
}

.programm-one-shema-items p:nth-child(odd) {
	max-width: 195px;
	margin-left: 52px;
	margin-right: 20px;
	margin-top: 20px;
}

.programm-one-shema-items span {
	position: absolute;
	top: 5px;
	left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 55px;
	color: var(--color-blue);
}

.programm-one-shema-items img {
	position: absolute;
	width: 75px;
	bottom: 10px;
	right: 10px;
}

.programm-one-features {
	max-width: 750px;
	margin-left: 70px;
}

.programm-one-features h3 {
	color: var(--color-blue);
	margin-bottom: 25px;
}

.programm-one-features p {
	text-transform: uppercase;
	color: var(--color-black);
}

.programm-one-features ul li {
	margin-left: 80px;
	list-style-type: none;
	position: relative;
	padding-left: 40px;
	margin-top: 25px;
}

.programm-one-features ul li::before {
	content: '';
	background-image: url("img/mark.png");
	width: 25px;
	height: 25px;
	position: absolute;
	background-size: cover;
	left: 0px;
	top: 5px;
}

.programm-one-features ul li p {
	text-transform: none;
	font-size: 20px;
}

.programm-one-features ul li p:nth-child(even) {
	font-family: 'TahomaRegular';
}

/* Условия выкупа квартиры */

.programm-one-features-conditions {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.programm-one-features-conditions-description h3 {
	color: var(--color-blue);
	margin-left: 40px;
}

.programm-one-features-conditions-description ul {
	color: var(--color-black);
	margin-left: 125px;
	margin-top: 40px;
}

.programm-one-features-conditions-description ul li {
	list-style-type: none;
	position: relative;
	padding-left: 20px;
}

.programm-one-features-conditions-description ul li::before {
	content: '';
	background-color: var(--color-blue);
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	left: 0px;
	top: 8px;
}

.programm-one-features-conditions-description ul li p {
	font-size: 20px;
	font-family: 'TahomaRegular';
	padding-bottom: 10px;
}

.programm-one-features-conditions-img img {
	width: 480px;
	height: 210px;
	margin-right: 100px;
	margin-top: 70px;
}

/* Предложение первой программы */

.programm-one-sentence {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-top: 35px;
	color: var(--color-black);
}

.programm-one-sentence p:nth-child(2) {
	font-size: 24px;
	padding-top: 30px;
	color: var(--color-blue);
}

.programm-one-sentence p:nth-child(3) {
	text-transform: uppercase;
	font-size: 24px;
	padding-top: 30px;
	color: var(--color-grey);
}

/* Форма */

.programm-one-form {
	margin-top: 30px;
	text-align: center;
}

.programm-one-form input {
	font-family: 'TahomaRegular';
	font-size: 16px;
	color: var(--color-grey);
	padding-left: 15px;
	height: 50px;
	width: 300px;
	border: 2px solid var(--color-grey);
}

.programm-one-form input:focus {
	outline: none;
}

.programm-one-form button {
	font-size: 18px;
	text-transform: uppercase;
	height: 50px;
	width: 300px;
	border: 2px solid var(--color-blue);
	color: var(--color-blue);
	padding-right: 50px;
}

/* Граница */

.border {
	max-width: 1180px;
	margin: 60px auto 0;
	border-bottom: 4px solid rgb(51, 51, 51);
	position: relative;
}

.border img {
	width: 70px;
	height: 70px;
	position: absolute;
	margin-left: 48%;
	top: -33px;
	padding: 20px;
	background-color: var(--color-white);
}
